/* To eidit your ordered list, you use list-style:none, and display:incline-block */
/* To spacing out text you use padding right 20px*/
.Intro ul li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
body{
    padding: O;
    margin: 0;
}
/* Here you use float to move un odered list from left to right but will 
have to do same to the logo since when uploaded takes full width in the web page */

/* To clear the unline in the list you do this, .Intro ul li a{} since the unordered-list is inside the the into, and in it has a link which displays Home.
you do text decoration as none as folows */

.Intro ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
}
.Intro ul li a:hover{
    background-color: rgb(15, 223, 122);
    color: white;
    padding-top: 5px 10px 5px 10px;
}

.Intro ul{
    float: right;
    
}

.logo{
    float: left;
}
/*To bring both logo and list together this what you should do */
.Header {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    background-color: white;
    height: 50px;

}
.bg-Image{
    background-image: url('./Slider/pexels-bertellifotografia-33714908.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
#bg-text a {
    color: rgb(2, 121, 68);
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 250px;
    justify-content: center;
    left: 370px;
    
    
}
#bg-text p{
    color: rgb(217, 244, 232);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 280px;
    justify-content: center;
    left: 520px;
   

}


.Image2 img {
    width: 24%;
    float: left;
    max-height: 250px;
    min-height: 250px;
    border: 5px solid rgb(245, 224, 224) ;
}
.code-easy  a{
    
    font-size: 40px;
    font-weight: lighter;
    

}
.code-easy {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 50px;
    
}
.two-col3 img{
    height: 330px;
    width: 360px;
    padding-bottom:20px ;
    
}
.two-col2{
    display: grid;
    grid-template-columns: auto auto ;
    width: 800px;
    /* margin left and margin right are equal*/
    margin: auto auto;
    /* Use column gap to give a gap between image */
    column-gap: 0;
 }
 
 .one-col1{
    font-size: 17px;
    
 }
 .one-col1 a {
    display: block;
    margin-top: 80px;
    font-size: 14px;
    
    
 }
  .h1{
    padding-bottom: 50px;
  }
  .three-col4 img{
    height: 300px;
    width: 440px;
  }
  
   .one-col1 {
    background-color: aqua;
    height: 330px;
    
}
.three-col4-text{
    background-color: rgb(243, 167, 121);
    width: 120px;
    height: 300px;
    padding-right: 120px;
    padding-left: 120px;
    
}
.three-col4-text {
    display: list-item;
    font-size: 15px;
}

.sv1 img {
    width: 150px;
    
}
/*lets make all iterms in a grid form of 3, meaning they should be on the same line*/

.services{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1000px;
    /*We use auto 3 times to make all 3 iterms align*/
    /*Use margin auto auto to center align the images but first set a width as above with a colomn gap below*/
    margin: auto auto;
    column-gap: 30px;
    margin-top: 80px;
    background-color: black;
    padding-top: 30px;
    border-radius: 30px 0 30px 0;

}
.sv1 h3{
    text-align: center;
    color: white;
    
    
}
.sv11 img{
   width: 137px;
}
.ft-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    margin: auto auto ;
    
}
.ft-section{
    list-style: none;
    text-align: center;

}
.ft1 li a{
    text-decoration: none;
    font-size: 17px;
    line-height: 3;
    color: black;
}
footer{
    margin-top: 100px;
    background-color: rgb(233, 227, 227);
    padding-top: 40px;
    padding-bottom: 40px;
}
.ft1 li h3:hover{
    color: brown;
    /*the hover changes the color of any text the mouse poiunter touches */
}
   

   


